.about-container{
    padding: 1rem 0 1rem 1rem;
}
.about-container h1{
    text-align: center;
    margin-bottom: 1rem;
    font-family: Roboto;
    font-weight: 700;

}

.about-main-container{
    display: grid;
    grid-template-columns: 40% 60%;
}
.about-left-container{
    display: grid;
    place-items: center;
}
.about-left-container img{
    width: 67%;
    height: 100%;
}
.about-right-container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
  gap: 2rem;
}
.about-right-container p{
    text-align: justify;
    font-family: Roboto;
    font-size: 1.2rem;
}

@media only screen and (max-width: 414px){
    .about-main-container{
        grid-template-columns: 100%;
        row-gap: 1rem;
    }
}
