.project{
    background-color: whitesmoke;
}
.project-container{
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.project-container > div{
    margin: 2rem;
}
.card-image{
    width: 100%;
    height: 16rem;
}
.project-item{
    width: 50%;
    margin: auto;
    margin-top: 4rem;
}
.project-item img{
    width: 100%;
    height: 26rem;
}
.project-title,.project-skills{
    margin-bottom: 1rem;
    text-align: center;
}
.githubicon{
   text-align: center;
}