.home{
    margin-top: 3rem;
}
.hero-container {
    width: 100%;
    height: 40rem;
    margin: 2rem 1rem;
    display: grid;
    grid-template-columns: 55% 45%;
}

.left-container {
    padding: 2rem;
    display: flex;
    gap: 2rem;
}

.main-left-container h1 {
    font-size: 2.6rem;
    font-weight: bolder;
    font-family: Roboto;
}

.main-left-container h3 {
    color: rgb(68, 67, 67);
}

.main-left-container {
    margin-top: 20%;
    display: grid;
    grid-template-rows: 15% 10% 20% 14%;
    width: 60%;
    margin-left: 6rem;

}

.main-left-container p {
    color: rgb(76, 76, 76);
    text-align: justify;
    font-family: Roboto;
}

.social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.right-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bg-container {
    position: relative;
    width: 50%;
    height: 60%;
}

.image-container {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    /* border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; */
    border-radius: 97% 43% 49% 51% / 43% 19% 81% 63%;
    bottom: 9%;
    right: 25%;

}

.bg-container img {
    position: absolute;
    right: 28%;
    bottom: 9%;
    border-radius: 1rem 1rem 40% 40%;
}

@media only screen and (max-width: 860px) {
    .hero-container {
        display: flex;
        flex-direction: column-reverse;
        height: 55vh;
    }

    .image-container {
        width: 90%;
        bottom: -126%;
        height: 23rem;
        right: 26%;
    }

    .bg-container img {
        bottom: 0%;
        top: -93%;
    }

    .main-left-container {
        grid-template-rows: 39% 25% 38% 14%;
        width: 59%;
        margin-left: 3rem;
    }
}

@media only screen and (max-width: 414px){
    .hero-container{
        display: grid;
        grid-template-rows: 250px 400px;
        grid-template-columns: 1fr;
        height: 100%;
        margin: 0;

    }
    .left-container{
        gap: 0;
        padding: 0 1rem;
    }
    .main-left-container{
        width: 100%;
        margin-left: 1rem;
        margin-top: 2rem;
        grid-template-rows: 24% 15% 32% 21%;
    }
    .main-left-container h1{
        font-size: 2rem;
        
    }
    .bg-container{
        width: 100%;
        height: 100%;
        position: static;
       
    }
    .image-container{
        width: 50%;
        margin: auto;
        height: 16rem;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    .bg-container img{
        top: 4px;
        right: 24%;
        width: 12rem;
        height: 17rem;
    }
}

