.skills {
    padding: 2rem;
}

.skills h1 {
    text-align: center;
}

.accordion {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 3rem;

}

@media only screen and (max-width: 414px){
  
    .skills{
        padding: 0 1rem;

    }
    .skills h1{
        margin-bottom: 1rem;
    }
    .accordion{
        grid-template-columns: 100%;
        padding: 0;
        gap: 1rem 0;
    }
}