.footer{
    padding: 2rem 3rem;
    background-color: rgb(245, 245, 245);
}
.footer-middle-container a{
    margin: 0.5rem 0;
}

.footer-container{
    display: grid;
    grid-template-columns: 40% 40% 20%;
}

.footer-middle-container{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 414px){
    .footer-container{
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}