* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    color: rgba(rgb(90, 162, 255), green, blue, alpha);
}

.experience {
    margin-top: 1rem;
    padding: 1rem;
}

.timeline {
    margin-top: 2rem;
}
.navbar-container{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
}
.experience{
    margin-top: 3rem;
}